*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    border: 3px solid blue;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: repeat(4,100px);
    gap: 5px;
}

.item{
    border: 2px solid green;
}
.item1{
    background-color: aqua;
    grid-column:1/-1;
}
.item2{
    background-color: blueviolet;
    grid-column: 1/8;
    grid-row: 2/4;
}
.item3{
    background-color: cornflowerblue;
    grid-column: 8/-1;
    grid-row:2/4;
}
.item4{
    background-color: aqua;
    grid-column:1/-1 ;
}