.container{
    /* margin: 50px; */
    display: grid;
    /* grid-template-columns: 100px 50px 150px;
    grid-template-rows: 150px 100px 40px; */
    gap: 10px;
    /* grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); */
    /* grid-template-columns: repeat(3,100px); */
     /* grid-template-columns:repeat(12,1fr); */
   /* grid-template-columns:100px 2fr 1fr; */
}
.item{
    border: 3px solid blue;
}